@import '/src/common/modern-reset.css';
@import '/src/common/theme.css';
@import '/src/common/a11y.css';
@import '/src/common/base.css';
:root {
  color-scheme: light dark;
}
body {
  --light-color: var(--pastel-dark-blue);
  --dark-color: var(--pastel-green);

  background: var(--pastel-coral);
  color: #000;
  margin: 50px;

  @media (prefers-color-scheme: dark) {
    background: var(--pastel-dark-blue);
    color: #fff;
  }
}

h1 {
  color: light-dark(var(--light-color), var(--dark-color));
}
